In [ ]:
# Python String Methods :- 44

'''
Method                      	                  Description

capitalize()                	   Converts the first character to upper case

casefold()                  	   Converts string into lower case

center()                    	   Returns a centered string

count()                     	   Returns the number of times a specified value occurs in a string

encode()                    	   Returns an encoded version of the string

endswith()                  	   Returns true if the string ends with the specified value

expandtabs()                	   Sets the tab size of the string

find()                      	   Searches the string for a specified value and returns the position of where it was found

format()                    	   Formats specified values in a string

format_map()                	   Formats specified values in a string

index()                     	   Searches the string for a specified value and returns the position of where it was found

isalnum()                   	   Returns True if all characters in the string are alphanumeric

isalpha()                   	   Returns True if all characters in the string are in the alphabet

isdecimal()                 	   Returns True if all characters in the string are decimals

isdigit()                   	   Returns True if all characters in the string are digits

isidentifier()              	   Returns True if the string is an identifier

islower()                   	   Returns True if all characters in the string are lower case

isnumeric()                 	   Returns True if all characters in the string are numeric

isprintable()               	   Returns True if all characters in the string are printable

isspace()                   	   Returns True if all characters in the string are whitespaces

istitle()                   	   Returns True if the string follows the rules of a title

isupper()                   	   Returns True if all characters in the string are upper case

join()                      	   Joins the elements of an iterable to the end of the string

ljust()                     	   Returns a left justified version of the string

lower()                     	   Converts a string into lower case


lstrip()                    	   Returns a left trim version of the string
maketrans()                 	   Returns a translation table to be used in translations

partition()                 	   Returns a tuple where the string is parted into three parts

replace()                   	   Returns a string where a specified value is replaced with a specified value

rfind()                     	   Searches the string for a specified value and returns the last position of where it was found

rindex()                    	   Searches the string for a specified value and returns the last position of where it was found

rjust()                     	   Returns a right justified version of the string

rpartition()                	   Returns a tuple where the string is parted into three parts

rsplit()                    	   Splits the string at the specified separator, and returns a list

rstrip()                    	   Returns a right trim version of the string

split()                     	   Splits the string at the specified separator, and returns a list

splitlines()                	   Splits the string at line breaks and returns a list

startswith()                	   Returns true if the string starts with the specified value

strip()                     	   Returns a trimmed version of the string

swapcase()                  	   Swaps cases, lower case becomes upper case and vice versa

title()                     	   Converts the first character of each word to upper case

translate()                 	   Returns a translated string

upper()                     	   Converts a string into upper case

zfill()                     	   Fills the string with a specified number of 0 values at the beginning



'''

In [2]:
# Let's explore all the String methods with examples

In [14]:
# capitalize() :

'''
    The capitalize() method returns a string where the first character is upper case.
'''

txt = 'kiran, welcome to python World'

txt = txt.capitalize()

print(txt)

Kiran, welcome to python world

In [4]:
# casefold() :

'''
The casefold() method returns a string where all the characters are lower case.

This method is similar to the lower() method, but the casefold() method is stronger, more aggressive, 
meaning that it will convert more characters into lower case, 
and will find more matches when comparing two strings and both are converted using the casefold() method.

'''

txt = 'Hello!, And Welcome TO My World'

txt = txt.casefold()     # casefold() method will return the entire string in lower case and is similar to and efficient than 
                         # lower() method in python

print(txt)

hello!, and welcome to my world

In [5]:
# center() :

'''
The center() method will center align the string, using a specified character (space is default) as the fill character.

Syntax:- string.center(length, character)

Parameter Values:

Parameter   	    Description
length      	    Required. The length of the returned string
character   	    Optional. The character to fill the missing space on each side. Default is " " (space)


'''
# Syntax:-  string.center(length, character)

# Example:- print the word 'banana' taking up the spaces of 20 characters, with the "banana" in the middle 

txt = 'banana'

txt = txt.center(20)

print(txt)

       banana

In [6]:
#Syntax:-  string.center(length, character)

txt = 'banana'

txt = txt.center(20,'#')

print(txt)

#######banana#######

In [ ]:
# count

''' ->The count method returns the number of times a specified value appears in the String
'''

#Syntax :- string.count(value, start, end)

#Parameter Values :
'''
Parameter   	   Description

value       	   Required. A String. The string to value to search for
start       	   Optional. An Integer. The position to start the search. Default is 0
end         	   Optional. An Integer. The position to end the search. Default is the end of the string

'''

In [8]:
# Example :- Return the number of times the value "apple" appears in the String 

txt = 'I love apples, apple are my favorite fruit'

x= txt.count("apple")

print(x)

2

In [9]:
# Example :- Search from position 10 to 24:

txt = "I love apples, apple are my favorite friut"

#Syntax :- string.count(value, start, end)

x = txt.count("apple", 10, 24)

print(x)

1

In [ ]:
# encode() 

'''-> The "encode()" method encodes the string, using specified encoding. if no encoding is specified, UTF-8 will be used. 


Syntax:- string.encode(encoding=encoding, errors=errors)


Parameter Values:
Parameter               	  Description

encoding                	  Optional. A String specifying the encoding to use. Default is UTF-8

errors                  	  Optional. A String specifying the error method. 



Legal values are:

'backslashreplace'      	  uses a backslash instead of the character that could not be encoded

'ignore'                	  ignores the characters that cannot be encoded

'namereplace'           	  replaces the character with a text explaining the character

'strict'                	  Default, raises an error on failure

'replace'               	  replaces the character with a questionmark

'xmlcharrefreplace'     	  replaces the character with an xml character

'''

In [11]:
# Example 

txt = "Naveen👏"

print(txt.encode(encoding = 'ASCII', errors='namereplace'))
print(txt.encode(encoding = 'ASCII', errors='backslashreplace'))
print(txt.encode(encoding = 'ASCII', errors='ignore'))
#print(txt.encode(encoding = 'ASCII', errors='strict'))
print(txt.encode(encoding = 'ASCII', errors='replace'))
print(txt.encode(encoding = 'ASCII', errors='xmlcharrefreplace'))

b'Naveen\\N{CLAPPING HANDS SIGN}'
b'Naveen\\U0001f44f'
b'Naveen'
b'Naveen?'
b'Naveen&#128079;'

In [12]:
print(txt.encode(encoding = 'UTF-8', errors='strict'))

b'Naveen\xf0\x9f\x91\x8f'

In [13]:
txt = "Naveen👏"

print(txt.encode(encoding='ASCII'))

UnicodeEncodeError: 'ascii' codec can't encode character '\U0001f44f' in position 6: ordinal not in range(128)

In [15]:
txt = "Naveen👏"

print(txt.encode(encoding='UTF-8'))

b'Naveen\xf0\x9f\x91\x8f'

In [16]:
# endswith() 

'''-> The endswith() method returns True if the String ends with the specified value, Otherwise False.
'''
#Example:-

txt = "Hello, welcome to my world."

print(txt.endswith('.')) # here, we are checking the string ends with the specified value, '.'

True

In [17]:
#Syntax :- string.endswith(value, start, end)

'''
Parameter Values:
    
Parameter       	    Description

value           	    Required. The value to check if the string ends with
start           	    Optional. An Integer specifying at which position to start the search
end             	    Optional. An Integer specifying at which position to end the search

'''

# Example :- Check if the Strings ends with the phrase "my world."

txt = 'Hello, welcome to my world.'

print(txt.endswith('my world.'))

True

In [18]:
# Example :- check if the the position 5 to 11 ends with the phrase "my world."

txt = 'Hello, welcome to my world.'

print(txt.endswith('my world.', 5, 11))

False

In [25]:
# expandtabs() 

'''-> The expandtabs() method sets the Tabsize to specified number of White spaces.
'''
# Syntax:- string.expandtabs(tabsize)

#Example :- Expand the tabsize to 2 white spaces

txt = "H\te\tl\tl\to"
#print(txt)                     # Default tab size will be 8 spaces
print(txt.expandtabs(2))

H e l l o

In [32]:
'''
Parameter Values:
    
Parameter           	  Description

tabsize             	  Optional. A number specifying the tabsize. Default tabsize is 8

'''


# Example 

txt = "H\te\tl\tl\to"

print(txt)                  # default size will be 8
print(txt.expandtabs())
print(txt.expandtabs(2))    # default size will be 8
print(txt.expandtabs(4))
print(txt.expandtabs(10))

H	e	l	l	o
H       e       l       l       o
H e l l o
H   e   l   l   o
H         e         l         l         o

In [34]:
# find()

'''
   -> The find method Search the string for a specified value and returns the position where it was found.

   -> The find() method finds the first occurrence of the specified value.
   
   -> The find method retuns -1 if the specified value is not found.
   
   -> The find() method is almost the same as the index() method, 
       the only difference is that the index() method raises an exception if the value is not found. (See example below)
'''

#Example 
# If the value is not found, the find() method returns -1, but the index() method will raise an exception:

txt = 'Hello, welcome to my world.'

print(txt.find('q'))
print(txt.index('q'))

-1

ValueError: substring not found

In [36]:
#Syntax:-   string.find(value, start, end)

#Parameter Values:

'''
    
Parameter               	    Description

value                   	    Required. The value to search for
start                   	    Optional. Where to start the search. Default is 0
end                     	    Optional. Where to end the search. Default is to the end of the string

'''

#Example :- What is the first occurance of the letter 'e' in the text txt.

txt = 'Hello, welcome to my world.'

x = txt.find('e')

print(x)

1

In [37]:
#Example:- What is the first occurance of 'e' in the text txt. When you only search between position 5 and 10.?

txt = 'Hello, Welcome to my world.'

x = txt.find('e', 5, 10)     # string.find(value, start, end)

print(x)

8

In [41]:
# format()

'''
->  The format() method Formats the specified values in a String 

->  The format() method formats the specified value(s) and insert them inside the string's placeholder.

->  The placeholder is defined using curly brackets: {}. Read more about the placeholders in the Placeholder section below.

->  The format() method returns the formatted string.
'''

#Example :- Insert the price inside the placeholder, the price should be in fixed point, two-decimal format:

txt = "For only {price:.2f} dollars!"

print(txt.format(price = 49))

For only 49.00 dollars!

In [ ]:
#Syntax:- string.format(value1, value2...)

#Parameter Values:


'''
Parameter           	      Description

value1, value2...   	      Required. One or more values that should be formatted and inserted in the string.

The values are either a list of values separated by commas, a key=value list, or a combination of both.

The values can be of any data type.

'''

In [44]:
#The Placeholders:- 
'''The placeholders can be identified using named indexes {price}, numbered indexes {0}, or even empty placeholders {}.'''

# Example:

txt1 = "My name is {name} and I'm {age} Old." . format(name = "Naveen", age = 23)       # Named indexes 

txt2 = "My name  is {0} and I'm {1} Old." . format("Naveen", 23)                       # Numbered indexes 

txt3 = "My name is {} and I'm {} Old" .format("Naveen",23)                            # Empty place holders


#Displaying the formatted Strings

print(txt1)
print(txt2)
print(txt3)

My name is Naveen and I'm 23 Old.
My name  is Naveen and I'm 23 Old.
My name is Naveen and I'm 23 Old

In [45]:
#Left aligns the result (within the available space)

#To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.

#Use "<" to left-align the value:

txt = "We have {:<8} chickens."
print(txt.format(49))

We have 49       chickens.

In [46]:
#Right aligns the result (within the available space)

#To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.

#Use ">" to right-align the value:

txt = "We have {:>8} chickens."
print(txt.format(49))

We have       49 chickens.

In [47]:
#Center aligns the result (within the available space)

#To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.

#Use "^" to center-align the value:

txt = "We have {:^8} chickens."
print(txt.format(49))

We have    49    chickens.

In [48]:
#To demonstrate, we insert the number 8 to specify the available space for the value.

#Use "=" to place the plus/minus sign at the left most position:

txt = "The temperature is {:=8} degrees celsius."

print(txt.format(-5))

The temperature is -      5 degrees celsius.

In [49]:
# Use a plus sign to indicate if the result is positive or negative

#Use "+" to always indicate if the number is positive or negative:

txt = "The temperature is between {:+} and {:+} degrees celsius."

print(txt.format(-3, 7))

The temperature is between -3 and +7 degrees celsius.

In [50]:
# Use a minus sign for negative values only

#Use "-" to always indicate if the number is negative (positive numbers are displayed without any sign):

txt = "The temperature is between {:-} and {:-} degrees celsius."

print(txt.format(-3, 7))

The temperature is between -3 and 7 degrees celsius.

In [51]:
# Use a space to insert an extra space before positive numbers (and a minus sign before negative numbers)

#Use " " (a space) to insert a space before positive numbers and a minus sign before negative numbers:

txt = "The temperature is between {: } and {: } degrees celsius."

print(txt.format(-3, 7))

The temperature is between -3 and  7 degrees celsius.

In [52]:
# Use a comma as a thousand separator

#Use "," to add a comma as a thousand separator:

txt = "The universe is {:,} years old."

print(txt.format(13800000000))

The universe is 13,800,000,000 years old.

In [53]:
# Use an underscore as a thousand separator

#Use "_" to add a underscore character as a thousand separator:

txt = "The universe is {:_} years old."

print(txt.format(13800000000))

The universe is 13_800_000_000 years old.

In [54]:
# Binary format

#Use "b" to convert the number into binary format:

txt = "The binary version of {0} is {0:b}"

print(txt.format(5))

The binary version of 5 is 101

In [63]:
#Decimal format

#Use "d" to convert a number, in this case a binary number, into decimal number format:

txt = "We have {:d} chickens."
print(txt.format(0b100))

We have 4 chickens.

In [64]:
txt = "We have {:d} chickens."
print(txt.format(0b101))

We have 5 chickens.

In [68]:
txt = "We have {:d} chickens."
print(txt.format(0b111))

We have 7 chickens.

In [69]:
#Scientific format, with a lower case e

#Use "e" to convert a number into scientific number format (with a lower-case e):

txt = "We have {:e} chickens."
print(txt.format(5))

We have 5.000000e+00 chickens.

In [70]:
# Scientific format, with an upper case E

#Use "E" to convert a number into scientific number format (with an upper-case E):

txt = "We have {:E} chickens."
print(txt.format(5))

We have 5.000000E+00 chickens.

In [71]:
# Fix point number format

#Use "f" to convert a number into a fixed point number, 
#default with 6 decimals, but use a period followed by a number to specify the number of decimals:

txt = "The price is {:.2f} dollars."
print(txt.format(45))

The price is 45.00 dollars.

In [72]:
#without the ".2" inside the placeholder, this number will be displayed like this:

txt = "The price is {:f} dollars."       # as we haven't specified the number of dec, default 6 decimals will be printed
print(txt.format(45))

The price is 45.000000 dollars.

In [73]:
# Fix point number format, in uppercase format (show inf and nan as INF and NAN)

#Use "F" to convert a number into a fixed point number, but display inf and nan as INF and NAN:

x = float('inf')

txt = "The price is {:F} dollars."
print(txt.format(x))

The price is INF dollars.

In [74]:
#same example, but with a lower case f:

txt = "The price is {:f} dollars."
print(txt.format(x))

The price is inf dollars.

In [75]:
x = float('nan')

txt = "The price is {:F} dollars."
print(txt.format(x))

The price is NAN dollars.

In [76]:
#same example, but with a lower case f:

txt = "The price is {:f} dollars."
print(txt.format(x))

The price is nan dollars.

In [77]:
# Octal format

#Use "o" to convert the number into octal format:

txt = "The octal version of {0} is {0:o}"

print(txt.format(10))

The octal version of 10 is 12

In [78]:
# Hex format, lower case

#Use "x" to convert the number into Hex format:

txt = "The Hexadecimal version of {0} is {0:x}"

print(txt.format(255))

The Hexadecimal version of 255 is ff

In [79]:
# Hex format, upper case

#Use "X" to convert the number into upper-case Hex format:

txt = "The Hexadecimal version of {0} is {0:X}"

print(txt.format(255))

The Hexadecimal version of 255 is FF

In [80]:
# Percentage format

#Use "%" to convert the number into a percentage format:

txt = "You scored {:%}"
print(txt.format(0.25))

You scored 25.000000%

In [81]:
#Or, without any decimals:

txt = "You scored {:.0%}"
print(txt.format(0.25))

You scored 25%

In [82]:
# format_map()  :- Formats specified values in a string

'''The format_map(mapping) is similar to str.format(**mapping) method.

The only difference is that str.format(**mapping) copies the dict 
whereas str.format_map(mapping) makes a new dictionary during method call. 
This can be useful if you are working with a dict subclass.

The syntax of format_map() is

str.format_map(mapping)
format_map Parameter            : format_map() takes a single argument mapping(dictionary).

Return Value from format_map()  : format_map() formats the given string and returns it.

'''

# Example 1: How format_map() works?
point = {'x':4,'y':-5}
print('{x} {y}'.format_map(point))

point = {'x':4,'y':-5, 'z': 0}
print('{x} {y} {z}'.format_map(point))

4 -5
4 -5 0

In [84]:
#Example 2: How format_map() works with dict subclass?

class Coordinate(dict):
    def __missing__(self, key):
      return key


print('({x}, {y})'.format_map(Coordinate(x='6')))
print('({x}, {y})'.format_map(Coordinate(y='5')))
print('({x}, {y})'.format_map(Coordinate(x='6', y='5')))


# Note :- format_map(mapping) is more flexible than format(**mapping) as you can have missing keys.

(6, y)
(x, 5)
(6, 5)

In [85]:
# index() :- Searches the string for a specified value and returns the position of where it was found

'''

The index() method finds the first occurrence of the specified value.

The index() method raises an exception if the value is not found.

The index() method is almost the same as the find() method, 
the only difference is that the find() method returns -1 if the value is not found. (See example below)

'''

#Example:- Where in the text is the word "welcome"?:

txt = 'Hello, Welcome to my world'

x = txt.index("Welcome")

print(x)

7

In [86]:
# Syntax :- string.index(value, start, end)

#Parameter Values:

'''
    
Parameter           	      Description

value               	      Required. The value to search for
start               	      Optional. Where to start the search. Default is 0
end                 	      Optional. Where to end the search. Default is to the end of the string

'''

# Example:- What is the first occurance of the letter 'e' in the text txt.

txt = "Hello, welcome to my world."

x = txt.index('e')

print(x)

1

In [87]:
#Example:- Where in the text is the first occurrence of the letter "e" when you only search between position 5 and 10?:

txt = "Hello, welcome to my world."

x = txt.index('e', 5, 10)

print(x)

8

In [88]:
#Example: value is not found, the find() method returns -1, but the index() method will raise an exception:

txt = "Hello, welcome to my world."

print(txt.find('q'))
print(txt.index('q'))

-1

ValueError: substring not found

In [90]:
# isalnum() :- Returns True if all characters in the string are alphanumeric

#Example :- Check if all the characters in the text are alphanumeric:

txt = 'Agency17'

x = txt.isalnum()

print(x)

True

In [91]:
'''
-> The isalnum() method returns True if all the characters are alphanumeric, 
   meaning alphabet letter (a-z) and numbers (0-9).

-> Example of characters that are not alphanumeric: (space)!#%&? etc.

'''

# Syntax:- string.isalnum()

# Example:- Check if all the characters in the text are alphanumeric

txt = "Agency17?"          # Since the character '?' is not the alphanumeric, we will get the result as False

x = txt.isalnum()

print(x)

False

In [92]:
# isalpha() :- Returns true if all the characters in the String are Alphabets

# Example :- Check if all the characters in the text are Alphabets

txt = "CompanyX"

x = txt.isalpha()

print(x)

True

In [93]:
#Definition and Usage:

'''
The isalpha() method returns True if all the characters are alphabet letters (a-z).

Example of characters that are not alphabet letters: (space)!#%&? etc.

'''

#Syntax:- string.isalpha()

#Example :- Check if all the characters in the given String are Alphabets.?

txt = "Company17"        # Returns false as the string contains numeric characters

print(txt.isalpha())

False

In [94]:
# isdecimal() :- Returns true if all the characters in the String are Decimals.

#Example:

txt ="\u0033"  # unicode for 3

x = txt.isdecimal()

print(x)

True

In [97]:
#Definition and Usage:

'''
-> The isdecimal() method returns True if all the characters are decimals (0-9).

-> This method is used on unicode objects.

'''

# Syntax: string.isdecimal()

# Example:

a = "\u0030"  # unicode for 0
b = "\u0047"  # unicode for G

print(a.isdecimal())
print(b.isdecimal())

True
False

In [98]:
# isdigit():- Returns true if all the characters in the String are Digits

# Example:

txt = "50800"

x = txt.isdigit()

print(x)

True

In [99]:
#Definition and Usage:

'''
-> The isdigit() method returns True if all the characters are digits, otherwise False.

-> Exponents, like ², are also considered to be a digit. #square

'''

#Syntax:- string.isdigit()

# Example:- Check if all the characters in the string are digits

a = "\u0030"   # unicode for 0

b = "\u00B2"   # unicode for ²\

print(a.isdigit())
print(b.isdigit())

True
True

In [100]:
# isidentifier() :- Returns True if the string is an identifier

# Example
#Check if the string is a valid identifier

txt = "Demo"

print(txt.isidentifier())

True

In [103]:
#Definition and Usage:

'''
The isidentifier() method returns True if the string is a valid identifier, otherwise False.

A string is considered a valid identifier if it only contains alphanumeric letters (a-z) and (0-9), or underscores (_).
A valid identifier cannot start with a number, or contain any spaces.

'''

# Syntax :- string.isidentifier()

# Example:- Check if the strings ate valid idenfiers.

a = "MyFolder"

b = "Demo002"

c = "my_demo" 

d = "2bring"      # A valid identifier can not start with a number.

e = "my demo"    # A valid identifier can not contain spaces.


print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())
print(e.isidentifier())

True
True
True
False
False

In [104]:
# islowe() :- Returns True if all the characters in the string are lower case

# Example:

txt = "the harderst! choices requres the strongest wills."

print(txt.islower())

True

In [105]:
# Definition and Usage:

'''
The islower() method returns True if all the characters are in lower case, otherwise False.

Numbers, symbols and spaces are not checked, only alphabet characters.

'''

#Syntax:- string.islower

# Example:- Check if all the characters in the string are lower case.

a = "Hello, World!."

b = "hello 123."

c = "mynameisNaveen."

print(a.islower())
print(b.islower())
print(c.islower())

False
True
False

In [107]:
# isnumeric() :- Returns true if all characters in the string are numbers.

# Example:

txt = "54540"

print(txt.isnumeric())

True

In [108]:
# Definition and Usage:-

'''

The isnumeric() method returns True if all the characters are numeric (0-9), otherwise False.

Exponents, like ² and ¾ are also considered to be numeric values.

"-1" and "1.5" are NOT considered numeric values, because all the characters in the string must be numeric, 
and the - and the . are not.

'''

#Syntax:- string.isnumeric()

# Example:- Check if all the character are numeric or not.

a = "\u0030" #unicode for 0
b = "\u00B2" #unicode for &sup2;
c = "10km2"
d = "-1"
e = "1.5"

print(a.isnumeric())
print(b.isnumeric())
print(c.isnumeric())
print(d.isnumeric())
print(e.isnumeric())

True
True
False
False
False

In [109]:
# isprintable():- Returns true if all the characters in the string are printable.

# Example:- Check if all the characters in the string are printable.

txt = "Hello, How are you #1."

print(txt.isprintable())

True

In [110]:
#Definition and Usage:

'''

The isprintable() method returns True if all the characters are printable, otherwise False.

Example of none printable character can be carriage return and line feed.

'''

# Syntax:- string.isprintable()

# Example:- Check if all the characters in the text are printable.


txt = "Hello!\nAre you #1?"

x = txt.isprintable()

print(x)

False

In [111]:
# isspace() :- Returns true if all the characters in the string are whitespaces.

# Example:-

txt = "   "

print(txt.isspace())

True

In [112]:
#Definition and Usage:-

'''

The isspace() method returns True if all the characters in a string are whitespaces, otherwise False.

'''

#Syntax:- string.isspace()


#Example:- Check if all the characters in the string are while spaces.

txt = "                  "

x = txt.isspace()

print(x)

True

In [113]:
# istitle() :- Returns true if the string follows the rules of a title.

# Example:- 

txt = "Hello, And Welcome To My World!."

print(txt.istitle())

True

In [114]:
#Definition and Usage:-

'''
The istitle() method returns True if all words in a text start with a upper case letter, 
AND the rest of the word are lower case letters, otherwise False.

Symbols and numbers are ignored.

'''


# Syntax :- string.istitle()

# Example :- Check if each word starts with an uppercase letter.


a = "HELLO, AND WELCOME TO MY WORLD"
b = "Hello"
c = "22 Names"
d = "This Is %'!?"

print(a.istitle())
print(b.istitle())
print(c.istitle())
print(d.istitle())

False
True
True
True

In [115]:
# isupper() :- Returns true if all the characters in the string are upper case.

# Example:-  Check if all the characters in the text are upper case.

txt = "THIS IS NOW!."

print(txt.isupper())

True

In [116]:
#Definition and Usage:-

'''

The isupper() method returns True if all the characters are in upper case, otherwise False.

Numbers, symbols and spaces are not checked, only alphabet characters.

'''

# Syntax :- string.isupper()

#Example :- Check if all the characters in the text are Upper Case.


a = "Hello World!"
b = "hello 123"
c = "MY NAME IS PETER"

print(a.isupper())
print(b.isupper())
print(c.isupper())

False
False
True

In [118]:
## join() :- Joins the items of an iterable to the end of the strings.

# Example:- join all items in a tuple into a string, using an hash character as seperator.

myTuple = ("Vamsi", "Anvesh", "Naveen", "Hemanth")

txt = "#".join(myTuple)

print(txt)

Vamsi#Anvesh#Naveen#Hemanth

In [124]:
# Definition and Usage:-

'''

The join() method takes all items in an iterable and joins them into one string.

A string must be specified as the separator.

'''

# Syntax:- string.join(iterable)

# Parameter Values:

'''
Parameter           	     Description

iterable            	     Required. Any iterable object where all the returned values are strings

'''


# Example :- Join all the items in the dictionary into a list, using the word "TEST" as separator.

myDict = {"name" : "Naveen", "country" : "India"}

mySeparator = "TEST"

x = mySeparator.join(myDict)

print(x)

nameTESTcountry

In [ ]:
'''Note: When using a dictionary as an iterable, the returned values are the keys, not the values.'''

In [131]:
# ljust() :- Returns a left justified version of the string 


#Example :- Return a 20 characters long left justified version of the word "Banana".

txt="banana"

x = txt.ljust(20)

print(x, "is my favorite fruit.")

banana               is my favorite fruit.

In [136]:
'''Note: In the result, there are actually 14 whitespaces to the right of the word banana.'''
# if you get 15 spaces instead of 14, that is because of print method which adds one more spaces 
# if we put ',' between 2 strings


# Example:- 

print("Hello","HI")  # so, here print method adding one more space
print("Hello"+"HI")

Hello HI
HelloHI

In [138]:
# Definition and Usage:-

'''
The ljust() method will left align the string, using a specified character (space is default) as the fill character.

'''

# Syntax :- string.ljust(length, character)



# Parameter Values 

'''

Parameter       	    Description

length          	   Required. The length of the returned string
character       	   Optional. A character to fill the missing space (to the right of the string). Default is " " (space).

'''


# Example:- Using the 'O' as the filling character.

txt = 'banana'

x = txt.ljust(20, 'O')

print(x)

bananaOOOOOOOOOOOOOO

In [139]:
# lower() :- Converts a String into lower case.

# Example:

txt = "Hello My FRIENDS"

print(txt.lower())

hello my friends

In [140]:
#Definition and Usage:

'''
The lower() method returns a string where all characters are lower case.

 Symbols and Numbers are ignored.
 
 '''

# Syntax :- string.lower()

# Example:

a = "hEllO My BuDdIes.!!"

b = "hI, HeLlO, wElCOme"

print(a.lower())
print(b.lower())

hello my buddies.!!
hi, hello, welcome

In [142]:
# lstrip() :- Returns a left trimmed version of the String.

# Example:- Removes spaces to the left of the string.

txt = "              banana                 "

x = txt.lstrip()

print("all of fruits",x,"is my favorite")

all of fruits banana                  is my favorite

In [143]:
#Definition and Usage:-

'''
The lstrip() method removes any leading characters (space is the default leading character to remove)

'''

# Syntax :- string.lstrip(characters)


# Parameter Values
'''
Parameter           	    Description

characters          	    Optional. A set of characters to remove as leading characters

'''

txt = ",,,,,,,,,,,ssaaww............banana"

print(txt.lstrip(",.asw"))

banana

In [144]:
# maketrans() :- Returns a translation table to be used in translation.

# Example :- Create a translation table and using in the 'translate()' methond 
             # to replace any character 'J' with character 'V'
    
txt = "JAM"

mytable = txt.maketrans("J","V")

print(txt.translate(mytable))

VAM

In [145]:
txt = "banana"

mytable = txt.maketrans('n','m')

print(txt.translate(mytable))

bamama

In [161]:
# Definition and Usage:-

'''
The maketrans() method returns a mapping table that can be used with translate() method to replace specified characters.

'''


# Syntax :- string.maketrans(x, y, z)


'''

# Parameter Values:

Parameter   	   Description

x           	   Required. If only one parameter is specified, this has to be a dictionary describing how to perform the replace. 
                   If two or more parameters are specified, this parameter has to be a string specifying the characters you want to replace.
                   
y           	   Optional. A string with the same length as parameter x.
                   Each character in the first parameter will be replaced with the corresponding character in this string.
                   
z           	   Optional. A string describing which characters to remove from the original string.

'''

# Example :- The maketrans() method itself returns a dictionary describing each replacement, in unicode:

dict= {"a": "123", "b": "456", "c": "789"}
my_string = "abc"
print(my_string.maketrans(dict))

#print(my_string.translate(dict))

{97: '123', 98: '456', 99: '789'}
abc

In [147]:
# Exmaple:- Use a mapping table to replace many characters:

txt = 'Hello My friend'

x = "friend"
y = "buddy"
z = "d"     # 3rd parameter is used to remove the specified characters

mytable = txt.maketrans(x,y,z)

print(txt.translate(mytable))

ValueError: the first two maketrans arguments must have equal length

In [148]:
# Note: from the above error, we know that both parameters should be of equal length.

In [149]:
txt = "Hello My Dosth!!!!!!!!!!"

x = "Dosth"
y = "Buddy"
z = "!"

mytable = txt.maketrans(x,y,z)

print(txt.translate(mytable))

Hellu My Buddy

In [151]:
# Example:- The third parameter in the mapping table describes characters that you want to remove from the string:


txt = "Hello Buddies.@@@@@@@@@"

x = "Hello"

y = "Heyy!"

z = "@"

mytable = txt.maketrans(x,y,z)

print(txt.translate(mytable))

Heyy! Buddies.

In [159]:
# Example :- The maketrans() method itself returns a dictionary describing each replacement, in unicode:

txt = "Hie move Naveen"

x = "Hie"

y = "abc"

z = "good"

x = txt.maketrans(x,y,z)
print(txt.translate(x))

print(x)

abc mvc Navccn
{72: 97, 105: 98, 101: 99, 103: None, 111: None, 100: None}

In [162]:
# Partition :- Returns a tuple where the string is parted into three parts

# Example :- Search for the word "banana", and return a tuple with three elements

'''
1. everything before the 'match'
2. the 'match'
3. everything after the 'match'

'''

txt = "I could eat bananas all day"

print(txt.partition("bananas"))

('I could eat ', 'bananas', ' all day')

In [163]:
# Definition and Usage:-

'''
The partition() method searches for a specified string, and splits the string into a tuple containing three elements.

The first element contains the part before the specified string.

The second element contains the specified string.

The third element contains the part after the string.

'''

# Note :- This method search for the first occurrence of the specified string.



# Syntax :- string.partition(value)


# Parameter Values:-
'''
Parameter        	    Description

value           	    Required. The string to search for

'''

# Example:-  If the specified value is not found, the partition() method returns a tuple containing: 
           # 1 - the whole string, 2 - an empty string, 3 - an empty string:
    
    
    
txt = "I could eat bananas all day"

print(txt.partition("apples"))

('I could eat bananas all day', '', '')

In [164]:
# replace :- Returns a String where a specified value is replaced by a specified value.


# Example :-Replace the word "bananas":

txt = "I like bananas"

print(txt.replace('bananas','apples'))

I like apples

In [165]:
# Definition and Usage:-

'''
The replace() method replaces a specified phrase with another specified phrase.

Note: All occurrences of the specified phrase will be replaced, if nothing else is specified.

'''


# Syntax :- string.replace(oldvalue, newvalue, count)



#Parameter Values:

'''

Parameter       	   Description

oldvalue        	  Required. The string to search for

newvalue        	  Required. The string to replace the old value with

count           	  ptional. A number specifying how many occurrences of the old value you want to replace. 
                      Default is all occurrences

'''


# Example :- Replace all occurances of the word 'one'.

txt = "one one was a race horse, two two was one too."

x = txt.replace('one', 'three')

print(x)

three three was a race horse, two two was three too.

In [166]:
# Example :- Replace the firest two occurances of the word 'one'.

txt = "one one was a race horse, two two was one too."

x = txt .replace('one','three',2)

print(x)

three three was a race horse, two two was one too.

In [168]:
# rfind() :- Searches the string for a specified value and returns the last position of where it was found.


# Example :- Where in the text is the last occurrence of the string "casa"?:

txt = "Mi casa, su casa."

x = txt.rfind('casa')

print(x)

12

In [169]:
# Definition and Usage:-

'''

The rfind() method finds the last occurrence of the specified value.

The rfind() method returns -1 if the value is not found.

The rfind() method is almost the same as the rindex() method. See example below.

'''

# Syntax :- string.rfind(value, start, end)


# Parameter Values:

'''
Parameter       	    Description

value           	    Required. The value to search for
start           	    Optional. Where to start the search. Default is 0
end             	    Optional. Where to end the search. Default is to the end of the string

'''


# Example :- Where in the text is the last occurrence of the letter "e"?:

txt = "Hello, welcome to my world."

print(txt.rfind("e"))

13

In [170]:
# Example:-  Where in the text is the last occurrence of the letter "e" when you only search between position 5 and 10?:

txt = "Hello, welcome to my world."
 
x = txt.rfind('e',5,10)      # string.rfind(value, start, end)

print(x)

8

In [171]:
# Example :- If the value is not found, the rfind() method returns -1, but the rindex() method will raise an exception:

txt = "Hello, welcome to my world."

print(txt.rfind('q'))

print(txt.rindex('q'))

-1

ValueError: substring not found

In [172]:
# rindex() :- Searches the string for a specified value and returns the last position where it was found.


# Example:- Where in the text is the last occurrence of the string "casa"?:

txt = "Mi casa, su casa."

x = txt.rindex('casa')

print(x)

12

In [174]:
# Definition and Usage:-

'''
The rindex() method finds the last occurrence of the specified value.

The rindex() method raises an exception if the value is not found.

The rindex() method is almost the same as the rfind() method. See example below.

'''

# Syntax :- string.rindex(value, start, end)


# Parameter Values:-

'''
Parameter       	   Description

value           	   Required. The value to search for.
start           	   Optional. Where to start the search. Default is 0.
end             	   Optional. Where to end the search. Default is to the end of the .

'''

# Example :- Where in the text is the last occurrence of the letter "e"?:

txt = "Hello, welcome to my world."

x = txt.rindex('e')

print(x)

13

In [175]:
# Example :- Where in the text is the last occurrence of the letter "e" when you only search between position 5 and 10?:

txt = 'Hello, welcome to my world'

x = txt.rindex('e',5,10)

print(x)

8

In [176]:
# Example :- If the value is not found, the rfind() method returns -1, but the rindex() method will raise an exception:

txt = "Hello, welcome to my world"

print(txt.rfind('q'))
print(txt.rindex('q'))

-1

ValueError: substring not found

In [179]:
# rjust() :- Returns a right justified version of the String.


# Example :- Return a 20 characters long, right justified version of the word "banana":

txt ='banana'
x = txt.rjust(20)

#print(len(x))  # len 20 will be printed

print(x,"is my favorite fruit.")

              banana is my favorite fruit.

In [180]:
# Note: In the result, there are actually 14 whitespaces to the left of the word banana.

print(x.count(" "))

14

In [184]:
# Definition and Usage:- 

'''
The rjust() method will right align the string, using a specified character (space is default) as the fill character.

'''


# Syntax :- string.rjust(length, character)


# Parameter Values

'''
Parameter   	  Description

length      	  Required. The length of the returned string
character   	  Optional. A character to fill the missing space (to the left of the string). Default is " " (space).

'''

# Example :- Using the letter "O" as the padding(fill) character:

txt = "banana"

print(txt.rjust(20,'O'))

OOOOOOOOOOOOOObanana

In [187]:
# split() :- Splits the String at specified seperator, and returns a list.


# Example :- Split a string into a list where each word is a list item:

txt = "welcome to python world"

x = txt.split()

print(x)
print(type(x))

['welcome', 'to', 'python', 'world']
<class 'list'>

In [188]:
# Definition and Usage :-

'''
The split() method splits a string into a list.

You can specify the separator, default separator is any whitespace.

'''

# Note: When maxsplit is specified, the list will contain the specified number of elements plus one.



# Example:- Split the string into a list with max 2 items:


txt = "apple#banana#cherry#orange"

# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.split("#", 1)

print(x)

['apple', 'banana#cherry#orange']

In [189]:
# Syntax :- string.split(separator, maxsplit)

# Parameter Values:

'''
Parameter       	    Description

separator       	    Optional. Specifies the separator to use when splitting the string. 
                        By default any whitespace is a separator.
                        
maxsplit        	    Optional. Specifies how many splits to do. Default value is -1, which is "all occurrences"

'''


# Example :- Split the string, using comma, followed by a space, as a separator:

txt = "hello, my name is Naveen, I am 23 years old"

x = txt.split(", ")

print(x)

['hello', 'my name is Naveen', 'I am 23 years old']

In [190]:
# Use a hash character as a separator:

txt = "apple#banana#cherry#orange"

print(txt.split('#'))

['apple', 'banana', 'cherry', 'orange']

In [193]:
# splitline() :- Splits the lines at line breaks and returns a list.


#Example:- Split a string into a list where each line is a list item:

txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines()

print(txt)

print(x)

Thank you for the music
Welcome to the jungle
['Thank you for the music', 'Welcome to the jungle']

In [194]:
# Definition and Usage:- The splitlines() method splits a string into a list. The splitting is done at line breaks.


# Syntax :- string.splitlines(keeplinebreaks)


# Parameter Values

'''

Parameter       	  Description

keeplinebreaks  	   Optional. Specifies if the line breaks should be included (True), 
                       or not (False). Default value is False

'''


# Example :- Split the string, but keep the line breaks:

txt = "Thank you for the music\nWelcome to the jungle"

print(txt.splitlines(True))   # if true, line breaks will be kept as it was in the original string

['Thank you for the music\n', 'Welcome to the jungle']

In [195]:
# startswith() :- Returns true if the String starts with the speicified value.


# Example :- Check if the string starts with "Hello":

txt = "Hello, welcome to my world."

x = txt.startswith("Hello")

print(x)

True

In [196]:
# Definition and Usage:-

'''
The startswith() method returns True if the string starts with the specified value, otherwise False.

'''

# Syntax :- string.startswith(value, start, end)


# Parameter Values:

'''
Parameter           	       Description

value               	       Required. The value to check if the string starts with
start               	       Optional. An Integer specifying at which position to start the search
end                 	       Optional. An Integer specifying at which position to end the search

'''

# Example :- Check if position 7 to 20 starts with the characters "wel":


txt = "Hello, welcome to my world."

print(txt.startswith('wel',7,20))

True

In [199]:
# strip() :- Retuns a trimmed version of the String.


# Example :- Remove spaces at the beginning and at the end of the string:

txt = "          banana        "

x = txt.strip()

print(txt)
print(x)

          banana
banana

In [201]:
# Definition and Usage:- 

'''
The strip() method removes any leading (spaces at the beginning) and trailing (spaces at the end) characters 
(space is the default leading character to remove)

'''

# Syntax :- string.strip(characters)

# Parameter Values:

'''
Parameter    	   Description
characters   	   Optional. A set of characters to remove as leading/trailing characters

'''

# Example :- Remove leading or tailing characters


txt = ',,,,,,,,,rtgstgs.............,banana........sssgrt'

print(txt.strip("rtgs.,"))

banana

In [202]:
# swapcase :- Swaps cases, upper case becomes lower case and vice-versa.

# Example :- Make the lower case letters upper case, and uppercase latters lower case.

txt = "Hello, My Name is NAVEEN."

x = txt.swapcase()

print(x)

hELLO, mY nAME IS naveen.

In [203]:
# Definition and Usage:- The swapcase() method returns a string where all the upper case letters are lower case and vice versa.

# Syntax :- string.swapcase()

In [206]:
# title() :- Coverts the first character of each word to uppercase


# Example: - Make the first letter in each word upper case

txt = 'hello, welcome to my world.'

print(txt.title())

Hello, Welcome To My World.

In [207]:
# Definition and Usage:-

'''
The title() method returns a string where the first character in every word is upper case. Like a header, or a title.

If the word contains a number or a symbol, the first letter after that will be converted to upper case.

'''

# Syntax :- string.title()


# Example :- Make the first letter in each word upper case:

txt = "Welcome to my 2nd world"

print(txt.title())

Welcome To My 2Nd World

In [208]:
 # Example :- Note that the first letter after a non-alphabet letter is converted into a upper case letter:

txt = "hello b2b2b2 and 3g3g3g"

print(txt.title())

Hello B2B2B2 And 3G3G3G

In [210]:
# translate() :- Returns a translated string.


# Example :- Replace any "V" characters with a "P" character:

#use a dictionary with ascii codes to replace 86 (V) with 80 (P):
mydict = {86:  80}
txt = "Hello Vam!"
print(txt.translate(mydict))

Hello Pam!

In [211]:
# Definition and Usage :

'''
-> The translate() method returns a string where some specified characters are replaced with the 
   character described in a dictionary, or in a mapping table.

-> Use the maketrans() method to create a mapping table.

-> If a character is not specified in the dictionary/table, the character will not be replaced.

-> If you use a dictionary, you must use ascii codes instead of characters.

'''


# Syntax :- string.translate(table)


# Parameter Values:

'''
Parameter       	   Description
table           	   Required. Either a dictionary, or a mapping table describing how to perform the replace

'''



# Example :- Use a mapping table to replace "V" with "P":

txt = "Hello Vam!"
mytable = txt.maketrans("V", "P")
print(txt.translate(mytable))

Hello Pam!

In [213]:
# Example :- Use a mapping table to replace many characters

txt = "Hello Cap"

x = 'paC'

y = 'gep'

mytable = txt. maketrans(x,y)

print(txt.translate(mytable))

Hello peg

In [214]:
# Example :- The third parameter in the mapping table describes characters that you want to remove from the string:

txt = "Good night Vam!"
x = "mVa"
y = "eJo"
z = "odnght"
mytable = txt.maketrans(x, y, z)
print(txt.translate(mytable))

G i Joe!

In [215]:
# The same example as above, but using a dictionary instead of a mapping table:

txt = "Good night Vam!"
mydict = {109: 101, 86: 74, 97: 111, 111: None, 100: None, 110: None, 103: None, 104: None, 116: None}
print(txt.translate(mydict))

G i Joe!

In [217]:
# upper() :- Coverts a string into uppercase()


# Definition and Usage:-

'''
 The upper() method returns a string where all characters are in upper case.

 Symbols and Numbers are ignored.

'''

# Syntax :- string.upper()


# Example :

txt = "Hello My friends!!!!"

print(txt.upper())

HELLO MY FRIENDS!!!!

In [218]:
# Example :- Symbols and numbers are ignored.

txt = "277Hello @My FriEnd!!!"

print(txt.upper())

277HELLO @MY FRIEND!!!

In [226]:
# zfill() :- Fills the string with a specified number of 0 values at the beginning.


# Example :- Fill the string with zeros until it is 10 characters long:

txt = "50"

x = txt.zfill(10)

print(x)


print("original string length : ",len(txt))
print("zfilled string length :" , len(x))

0000000050
original string length :  2
zfilled string length : 10

In [227]:
# Definition and Usage:- 

'''
The zfill() method adds zeros (0) at the beginning of the string, until it reaches the specified length.

If the value of the len parameter is less than the length of the string, no filling is done.

'''


# Syntax:- string.zfill(len)


# Parameter Values:

'''
Parameter       	    Description
len             	    Required. A number specifying the desired length of the string

'''


# Example :- Fill the strings with zeros until they are 10 characters long:

a = "hello"
b = "welcome to the jungle"
c = "10.000"

print(a.zfill(10))
print(b.zfill(10))
print(c.zfill(10))

00000hello
welcome to the jungle
000010.000

In [ ]:
"""
Note: All string methods returns new values. They do not change the original string.

"""