In [2]:
# Python Format Strings:- 

'''
 -> As we have learned in the python variables chapter, we cannot combined strings and number like this 
 
'''

# Example :- 

age = 23

txt = "My name is Naveen, and I am " + age

print(txt)

TypeError: can only concatenate str (not "int") to str

In [4]:
'''
 -> But we can combine Strings and Numbers using 'format()' method!.
 
 -> The format() method takes the passed argumets, formats them, and places them in the String 
    where the placeholders{} are.
 
'''

# Example :- Use  the format() method to inset Numbers into Strings.

age = 23

txt = "My name is Naveen, and I am {}"

print(txt.format(age))

My name is Naveen, and I am 23

In [6]:
# The format() method takes unlimited number of arguments, and are placed into the respective place holders.

quantity = 3
itemno   = 567
price    = 49.76

myorder = "I want {} pieces of item {} for {} dollars"

print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.76 dollars

In [30]:
# You can use index number {0} to be sure the arguments are placed in the correct place holders.

quantity = 3
itemno   = 567
price    = 49.76

myorder = "I want to pay {2} dollars for {0} pieces of item {1}"

print(myorder.format(quantity, itemno, price))

I want to pay 49.76 dollars for 3 pieces of item 567

In [31]:
# program to generate table for any number

n              = int(input("enter n :"))
tablerange     = int (input("Enter table range that want to see : "))
for i in range(1,tablerange+1):
    print(n, 'x',i,'=',n*i)

enter n :7
Enter table range that want to see : 20
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
7 x 11 = 77
7 x 12 = 84
7 x 13 = 91
7 x 14 = 98
7 x 15 = 105
7 x 16 = 112
7 x 17 = 119
7 x 18 = 126
7 x 19 = 133
7 x 20 = 140

In [2]:
# Same table generator program using format() method

n = int(input("Enter the n :"))
tablerange = int(input("Enter the table range that you want to see :"))

for i in range (1,tablerange+1):
    result = n * i
    mytable = "{0} x {1} = {2}"
   
    print(mytable.format(n,i,result))  # here we have used format method

Enter the n :12
Enter the table range that you want to see :20
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120
12 x 11 = 132
12 x 12 = 144
12 x 13 = 156
12 x 14 = 168
12 x 15 = 180
12 x 16 = 192
12 x 17 = 204
12 x 18 = 216
12 x 19 = 228
12 x 20 = 240